@font-face { font-family: Quicksand; src: url('Quicksand-VariableFont_wght.ttf'); }

iframe {
    width: 100%;
    height: 100vh;
    /* background: yellow; */
    margin: auto;
    border: none;
}


.author {
    height: 55vh;
    width: 100%;
    background-size: cover;
    /* background-attachment: scroll; */
    background: #333 url(authbg.jpeg) no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* background-color: red; */
}
.author img {
    width: 300px;
    height: auto;
}
.author h1 {
    color: white;
    font-weight: 900;
}