:root {
    --mainfgColor: white;
}

@font-face { font-family: Quicksand; src: url('Quicksand-VariableFont_wght.ttf'); } 



body {
    font-family: Arial, Helvetica, sans-serif;

}
header {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.99);
    width: 100%;
    padding: 1.5em 0 2.2em;
    z-index: 2;
}

main{
    padding-top: 185px;
}
.content {
    width: 68%;
    margin: auto;
    padding-top: 80px;
}

header nav {
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    z-index: 1000;
}


.author-header {
    display: flex;
    align-items: center;
}
.author-header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.author-title {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    text-align: right;
}

.author-title a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

.author-title span { 
    font-family: Quicksand;
    font-weight: 200;
    font-size: 1.3em;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
 }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* font-family: var(--font_7); */
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }

  .active {
    background-color: #000;
    color: white !important;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #000;
  }


  p {
    font-family: Quicksand;
    font-size: 1.5em;
    line-height: 1.4;
  }

  .project-container {

    width: 100%;
    height: 500px;
    background: url('analog.jpeg') #333;
    display: flex;
    align-items: center;
    justify-content: center;
      /* position: relative; */
      margin: 2em 0;
  }

  .project-container:last-of-type {
    background: url('tictactoe.JPG') #333;
  }
  .project-container a {
      text-decoration: none;
  }

  h1 {
    font-family: Quicksand;
    font-size: 40px;
    /* text-transform: uppercase; */
  }

  .project{ 
      width: 90%;
      margin: auto;
      text-align: center;
      color: white;
  }
  .project .tags {
    margin-top: 2rem;
  }

.project .tags span {
    border: 1px solid black;
    padding: 0.5em;
    /* background: linear-gradient(60deg, black, #af4261, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    border-image-source: linear-gradient(to right, #af4261 30%, white 100%); 
    border-image-slice: 5;
}


  /* Style the inputs */

  input {
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none;
    width: 80%;
    height: 20px;
    margin-left: 40px;
    margin-bottom: 15px;
    padding: 8px;
}

.slider-show {
    /* border-radius: 10px; */
    /* box-shadow: 0 5px 10px #FFF ; */
    /*box-shadow:  0 -2px 10px darkgray;*/
    /* width: 1000px; */
    width: 100%;
    height: 600px;
    overflow: hidden;
    transition: ease-in-out .3s;
}
/* .slider-show:hover {
    box-shadow: 0 5px 15px #FFF;
    width: 805px;
    height: 505px;
} */
.profile {
    position: relative;
    width: 100%;
    height: 500px;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
}

.navigate {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover {background: #fff}
input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;

}
.slide video  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video[poster] {
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1 {margin-left:  0; transition: all 1s}
#r2:checked ~ .s1 {margin-left: -20%; transition: all 1s}
#r3:checked ~ .s1 {margin-left: -40%; transition:all 1s}
#r4:checked ~ .s1 {margin-left: -60%; transition:all 1s}
#r5:checked ~ .s1 {margin-left: -80%; transition:all 1s}



/* Footer Styling */
footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
}

footer img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--main-red);
}

footer p {
    font-size: 1.3rem;
}

footer a {
    color: black;
    background: linear-gradient(60deg, black, #af4261, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1280px) {
    header nav, .content {
        width: 85%;
        transition: ease-in-out .3s;
    }
}

@media (max-width: 1080px) {
    header nav, .content {
        width: 98%;
        transition: ease-in-out .3s;
    }
}

@media (max-width:800px) { 
    header nav, .content {
        width: 98%;
        flex-direction: column-reverse;
        transition: ease-in-out .3s;
    }

    .author-title {
        text-align: left;
    }
    header ul {
        width: inherit;
    }
    header ul li {
        width: 24%;
    }
    .author-header {
        width: inherit;
        justify-content: space-between;
    }
 } 


 .hidden {
     display: none;
 }