:root {
    --primary: #ccc;
    --green-dark: #1a936f;
    --main-red: rgba(164, 0, 25, 1);
    --main-black: #111;
    margin: 0;
    padding: 0;
    background-color: var(--main-black);
    color: var(--primary);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    font-size: 21px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--main-red);
    transition: 0.5s;
}

a:hover {
    text-decoration: underline;
    color: var(--main-red);
}

h1 {
    font-size: 2.65rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 500 !important;
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.9rem;
}

header {
    background-color: rgba(219, 225, 232, 1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 2rem;
}

header nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    justify-items: flex-end;
    align-items: center;
}

#main-logo {
    width: 100px;
    height: 50px;
}

nav ul li a {
    text-decoration: none;
    /* TODO: Use mainBlack color */
    color: darkslategray;
    transition: 0.5s;
    /* Don't know what this does */
    transition-property: color, transform;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 9px;
}

nav ul li a:hover {
    transform: scale(1.3);
    background: linear-gradient(60deg, black, #af4261, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 1rem;
    /* For the Navigation Bar */
    padding-top: 100px;
}

footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

footer img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--main-red);
}

footer p {
    font-size: 1.2em;
}

.blog-post h2 a {
    color: var(--primary);
    transition: 0.3s;
}

.blog-post h2 a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.blog-post .post-category a {
    font-size: 0.75rem;
    color: var(--green-dark);
    padding: 5px 10px;
    height: 30px;
    border: 1px solid var(--green-dark);
    border-radius: 15px;
    text-transform: uppercase;
}

.blog-post .post-category {
    font-size: 0.75rem;
    color: var(--green-dark);
    padding: 5px 10px;
    height: 30px;
    border: 1px solid var(--green-dark);
    border-radius: 15px;
    text-transform: uppercase;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
}

.blog-post p {
    font-size: 35px;
    font-weight: 400;
    color: var(--secondary);
}

.blog-post span {
    color: gray;
}


/* ----------- iPhone 6, 6S, 7 and 8, SE ----------- */


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    main,
    footer {
        width: 90%;
        /* background-color: red; */
    }
}


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */


/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    main {
        width: 100%;
        background-color: rebeccapurple;
    }
}


/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}


/* ----------- iPhone X ----------- */


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    main {
        width: 100%;
        background-color: rebeccapurple;
    }
}


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}


/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {}


/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    main,
    footer {
        width: 50%;
    }
    p {
        font-size: 1rem !important;
    }
}