/* Motto */
/* Don't mess up with this file 😬 */
/* Use Semantic HTML, whenever possible,📓 */
/* Write clean and clear code, with open (source) mind 😀 */
/* Explore, Learn, Have fun and Inspire */

:root {
    --headerBgColor: rgba(255, 255, 255, 0.99);
    --mainBgColor: white;
    --main-red: #a40019;
    --mainFgColor: black;
}

[data-theme="dark"] {
    --headerBgColor: #2d2d2d;
    --mainBgColor: #222222;
    --mainFgColor: white;

}

@font-face {
    font-family: Quicksand;
    src: url('fonts/Quicksand-VariableFont_wght.ttf');
}

body {
    font-family: 'Quicksand', sans-serif;
    background: var(--mainBgColor);
    color: var(--mainFgColor);
    transition: background 1s;

}

header {
    position: fixed;
    top: 0;
    background-color: var(--headerBgColor);
    transition: background 1s;
    width: 100%;
    padding: 1.5em 0 2.2em;
    z-index: 2;
}

hr {
    width: 300px;
    color: #a40019;
}

main {
    padding-top: 185px;
}

h1 {
    font-size: 40px;
}

p {
    font-family: Quicksand, sans-serif;
    font-size: 1.5em;
    line-height: 1.4;
}

a {
    color: var(--main-red);
    text-decoration: none;
}

.content {
    width: 68%;
    margin: auto;
    padding-top: 80px;
}

header nav {
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    z-index: 1000;
}

.author-header {
    display: flex;
    align-items: center;
}

.author-header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.author-title {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    text-align: right;
}

.author-title a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

.author-title span {
    font-family: Quicksand, sans-serif;
    font-weight: 200;
    font-size: 1.3em;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.active {
    background-color: #000;
    color: white !important;
}

.project-container {
    width: 100%;
    height: 500px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}

.project-container:nth-of-type(1) {
    background: url('images/analog.jpeg');
}

.project-container:nth-of-type(2) {
    background: url('projects-images/doit.jpeg') no-repeat #333;
}

.project-container:last-of-type {
    background: url('images/tictactoe.jpg') ;
}

.project-container a {
    text-decoration: none;
}

.project {
    width: 90%;
    margin: auto;
    text-align: center;
    color: white;
}

.project .tags {
    margin-top: 2rem;
}

.project .tags span {
    border: 1px solid black;
    padding: 0.5em;
    /* This might not be a good option due to browser compatibility */
    border-image-source: linear-gradient(to right, #af4261 30%, black 100%);
    border-image-slice: 5;
}

/* Style for main banner on home page */

input {
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none;
    width: 80%;
    height: 20px;
    margin-left: 40px;
    margin-bottom: 15px;
    padding: 8px;
}

.slider-show {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.profile {
    position: relative;
    width: 100%;
    height: 500px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
}

.navigate {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff
}

/* Used to fill the bar on hover */
input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;
}

.slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video[poster] {
    width: 100%;
    height: 100%;
}

/* This works perfectly, Should only bet changed for great reasons. */
#r1:checked ~ .s1 {
    margin-left: 0;
    transition: all 1s
}

#r2:checked ~ .s1 {
    margin-left: -20%;
    transition: all 1s
}

#r3:checked ~ .s1 {
    margin-left: -40%;
    transition: all 1s
}

#r4:checked ~ .s1 {
    margin-left: -60%;
    transition: all 1s
}

#r5:checked ~ .s1 {
    margin-left: -80%;
    transition: all 1s
}

#r1:checked ~ .s1 {
    margin-left: 0;
    transition: all 1s
}

#r2:checked ~ .s1 {
    margin-left: -20%;
    transition: all 1s
}

#r3:checked ~ .s1 {
    margin-left: -40%;
    transition: all 1s
}

#r4:checked ~ .s1 {
    margin-left: -60%;
    transition: all 1s
}

#r5:checked ~ .s1 {
    margin-left: -80%;
    transition: all 1s
}


/* Footer Styling */
footer {
    width: 100%;
    margin: 0 auto 10px;
    text-align: center;
    font-size: 1.8rem;
}

footer img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--main-red);
}

footer p {
    font-size: 1.3rem;
}

footer a {
    color: black;
    /* This is used to give a linear-gradient appearance to footer link */
    /* Note that this might not work on certain browser, need better approach. */
    background: linear-gradient(60deg, var(--mainFgColor), #af4261, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media (max-width: 1280px) {
    header nav, .content {
        width: 85%;
        transition: ease-in-out .3s;
    }
}

@media (max-width: 1080px) {
    header nav, .content {
        width: 98%;
        transition: ease-in-out .3s;
    }
}

/* This is intended for smaller device screen but, is not working as expected */
@media (max-width: 800px) {
    header nav, .content {
        width: 98%;
        flex-direction: column-reverse;
        transition: ease-in-out .3s;
    }

    .author-title {
        text-align: left;
    }

    header ul {
        width: inherit;
    }

    header ul li {
        width: 24%;
    }

    .author-header {
        width: inherit;
        justify-content: space-between;
    }
}

/* Used to hide views in different contexts */
.hidden {
    display: none;
}

/* Slider customization */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--main-red);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }