#navbar a {
	transition: all 0.3s ease-in-out;
}
#navbar a:hover {
	scale: 1.1;
}

#dialit-home {
	display: none;
}

#preview {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	grid-gap: 20px;
	padding: 20px 5%;
}

#preview-description {
	text-align: center;
}

#appstore-link img {
	width: 200px;
	height: 60px;
}

.section-container h1:first-of-type {
	text-align: center;
}
/*  Features section */

#features {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
	margin: 40px auto;
}

#features h2 {
	margin: 12px;
}
#features p {
	margin: 0;
}

#features > div {
	text-align: center;
	padding: 10px;
}

#features p {
	font-size: 17pt;
	line-height: 100%;
}

/* Support section */
#support {
	text-align: center;
}

#contact-us {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
	align-items: center;
}

#contact-us .contact,
#features .feature i {
	color: var(--main-red);
}

#contact-us .contact {
	margin: 20px;
}

/* Privacy Policy */

#privacy {
	text-align: center;
}

main {
	/* background-color: brown; */
}
/* Others */
hr {
	height: 3px;
	width: 100px;
	background-color: var(--main-red);
	border: none;
}

@media screen and (min-width: 700px) {
	/* main,
	nav {
		width: 60%;
	} */

	#preview {
		grid-template-columns: auto auto;
	}

	#dialit-home {
		display: block;
	}
}
