#navbar a {
  transition: all 0.3s ease-in-out;
}
#navbar a:hover {
  scale: 1.1;
}

#preview {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 20px;
  padding: 20px 5%;
}

#preview-description {
  text-align: center;
}

#appstore-link img {
  width: 200px;
  height: 60px;
}

.section-container h1:first-of-type {
  text-align: center;
}
/*  Features section */

#features {
  display: flex;
  align-items: center;
  margin: 40px auto;
}

#features h2 {
  margin: 12px;
}
#features p {
  margin: 0;
}

#features > div {
  flex: 1 1 auto;
  text-align: center;
  margin: 5px; /* and that, will result in a 10px gap */
}

#features p {
  font-size: 17pt;
  line-height: 100%;
}

/* Support section */
#support {
  text-align: center;
}

#contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#contact-us .contact,
#features .feature i {
  color: var(--main-red);
}

#contact-us .contact {
  margin: 40px;
}

/* Privacy Policy */

#privacy {
  text-align: center;
}

/* Others */
hr {
  height: 3px;
  width: 100px;
  background-color: var(--main-red);
  border: none;
}
