body {
  /* text-align: center; */
  width: 90%;
  margin: auto;
  color: black;
  background-color: var(--mainBgColor);
}

body h1 {
  text-align: left;
}

/* General Media queries */
@media screen and (min-width: 760px) {
  body {
    width: 60%;
  }

  body h1 {
    text-align: center;
  }
}
