body {
	width: 90%;
	margin: auto;
}

body h1 {
	text-align: left;
}

a {
	color: var(--main-red);
}

/* General Media queries */
@media screen and (min-width: 760px) {
	body {
		width: 70%;
	}

	body h1 {
		text-align: center;
	}
}
